#bar{
    justify-content: center;
  
}

h2{
    padding: 20px 20px;
    justify-content: center;
    text-align: center;
}
#table{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
#one{
    text-align: start;
}
#two{
    text-align: start;
}
#three{
    text-align: start;
}
#four{
    text-align: start;
}
#five{
    text-align: start;
}
#six{
    text-align: start;
}
#seven{
    text-align: start;
}
#eight{
    text-align: start;
}
#nine{
    text-align: start;
}
#ten{
    text-align: start;
}
#eleven{
    text-align: start;
}
#twelve{
    text-align: start;
}
#thirteen{
    text-align: start;
}
#fourteen{
    text-align: start;
}
#fifteen{
    text-align: start;
}
#sixteen{
    text-align: start;
}
#seventeen{
    text-align: start;
}
#eighteen{
    text-align: start;
}
#nineteen{
    text-align: start;
}
#twenty{
    text-align: start;
}
#twentyone{
    text-align: start;
}
#one{
    text-align: start;
}
tr{
    text-align: center;
}

